/*
Theme Name: Biolandhof Wessinger
Author: Daniel Heuberger
Version: 1.0
*/

html,
body {
	font-family: "Trebuchet MS";
	height: 100%;
	background-color: #efefef;
}

img {
	max-width: 100%;
}

a:link,
a:visited,
a:focus,
a:active,
a:hover	 {
	text-decoration:none;
	color: black;
}

.container {
	background-color: #65ab65;
	-moz-box-shadow: 0 0 10px 5px #888;
	-webkit-box-shadow: 0 0 10px  5px #888;
	box-shadow: 0 0 10px 5px #888;
	padding: 0 30px 0 30px;
	min-height: 100%;
	overflow: hidden !important;
	background-image: url('assets/images/henne.png');
	background-repeat: no-repeat;
	background-position: right bottom;
}

header {
	background-image: url(assets/images/holz.png);
	-moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	align-items: center;
}


@media screen and (min-width: 1024px) {
	h1 {
		font-size: 80px;
	}

	h2 {
		font-size: 50px;
	}
}

.title {
	position: relative;
	opacity: 0.6;
	font-weight: bold;
	text-shadow: -1px -1px 0px #202020, 1px 1px 0px #FFF;
}

#schriftzug {
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
}

.ketten_wrapper {
	position: relative;
}

.kette_links,
.kette_rechts {
	-moz-box-shadow: 0 0 10px  rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 10px  rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px  rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 30px;
	width: 10px;
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(left,  #efefef 0%, #bbbbbb 52%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#efefef), color-stop(52%,#bbbbbb), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #efefef 0%,#bbbbbb 52%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #efefef 0%,#bbbbbb 52%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #efefef 0%,#bbbbbb 52%,#efefef 100%); /* IE10+ */
	background: linear-gradient(to right,  #efefef 0%,#bbbbbb 52%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#efefef',GradientType=1 ); /* IE6-9 */
}

.kette_links {
	left: 100px;
}

.kette_rechts {
	right: 100px;
}

nav {
	margin: 30px 0 30px 0;
	background-image: url(assets/images/holz.png);
	-moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

nav ul {
	list-style-type: none;
	padding: 10px;
}

nav li {
	display: inline-block;
	border-radius: 10px;
	padding: 10px;
	font-size: 20px;
}

nav li:hover,
nav .current-menu-item {
	background-color: rgba(0, 0, 0, 0.2);
}

.hint {
	display: flex;
	flex-direction: columns;
	align-items: center;
	text-align: center;
}

.hint div {
	padding: 20px;
}

.hint img {
	max-width: 100%;
}

hr {
	border: 2px solid #009543;
	margin: 20px 0;
}